html{
    min-width: 900px;
}

body{
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
   
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-page{
    background-image: none;
}
.second-page h1{
    font-size: 35px;
    line-height: 41px;
}
.container{
    box-sizing: border-box;
    margin: 0 2.3%;
}
    
.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  transition: background-image 0.5s ease, background-color 0.5s ease;
  
}   

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/background-2.png");
}

.site-wrapper::after {
  background-image: url("../img/background-3.png");
}

.slider {
    position: relative;
  
    padding-top: 243px;
    margin: 0 auto;
  
    text-align: center;
    color: #ffffff;
}

.slider-list {
    margin: 0;
    padding: 0;
  
    list-style: none;
}
.slide {
  display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
  
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper  {
  background-color: #849d8f;
  background-image: url("../img/background-1.png");
}

#product-2:checked ~ .site-wrapper  {
  background-color: #8996a6;
  background-image: url("../img/background-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/background-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
/*.main-header, main-footer{
    max-width: 1200px;
    margin: 0 auto;
}*/
.main-navigation{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.site-navigation-left{    
    display: flex;
    justify-content: space-between;
}

.main-navigation > a, 
.main-navigation > p{
    font-size: 14px;
    line-height: 16px;
}

.main-navigation > a{
    font-weight: 500;
}

.main-navigation ul{
    list-style: none;
}

.site-navigation{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    
    padding-left: 7px;
    margin-top: 14px;
    
    line-height: 18px;
}

.site-navigation-item a{
    display: block;
    padding: 7px 15px;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    background-repeat: repeat-x;
    background-position: 0 1.1em;
    background-size: 5px 1px;*/
}
.site-navigation-right{
    margin-top: 14px;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.menu-button{
    display: inline-block;
    box-sizing: border-box;
    padding: 7px 15px;
    margin-left: 5px;
    
    vertical-align:top;
    
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border:0;
}
/*как покрасить svg*/

.menu-button-search{
    width: 33px;
    height: 30px;
    
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  
}
.menu-button-login{
    padding-left: 45px;
}

.menu-button-login::before{
    content: "";
  
    position: absolute;
    top: 5px;
    left: 15px;
    
    width: 25px;
    height: 25px;
    background-image: url("../img/entrance.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  
}
.menu-button-cart, .menu-button-full-cart{
    min-width: 117px;
    padding-left: 45px;

}
.menu-button-cart::before{
    content: "";
  
    position: absolute;
    top: 5px;
    left: 15px;
    
    width: 25px;
    height: 25px;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  
}

.menu-button-full-cart{
    color: #333333;
    background-color: #f7f6f3;
}

.menu-button-full-cart::before{
    content: "";
  
    position: absolute;
    top: 5px;
    left: 15px;
    
    width: 25px;
    height: 25px;
    background-image: url("../img/cart-red.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation-item{
    position: relative;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus,
.menu-button:hover{
    color: #333333;
    background-color: #f7f6f3;
    border-bottom: none;
    border-radius: 15px;
}

.site-navigation-right p{
    margin: 20px 0 0 auto;
    text-align: right;
}

.site-navigation-right span{
    display: inline-block;
    padding-top: 5px;
    
    font-size: 22px;
    line-height: 24px;
}

.site-navigation-inner{
    display: none;
    min-width: 144px;
    
    position: absolute;
    top: 37px;
    left: -5px;
    
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    
    border-radius: 10px;
    background-color: #f8f7f4;
}
.site-navigation-item:hover .site-navigation-inner{
    display: block;
}

.site-navigation-inner a{    
    color: #333333;
}

.inner-item a{
    font-weight: 400;
}

.site-navigation-inner li:first-child{
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}
.site-navigation-inner a:hover{
    background-color: #fbded7;
}

.site-navigation-inner a:active{
    background-color: #f6b5a5;
}

.current-page{    
    background-color: #d07058;
    color: #ffffff;
    border-radius: 15px;  
}
.site-navigation-inner .current-page{
    border-radius: 0;
}

.button{
    display: inline-block;
    vertical-align: middle;
    padding: 0 22px;/*над этим надо пока подумать*/
    min-height: 46px;
    
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
}   

.big-button{
    padding: 12px 44px;
    
    font-size: 32px;
    line-height: 44px;
    
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
}
.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active{
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*ПРОМО*/
.promo-list{
    display: flex;
    justify-content: space-around;
    margin: 35px auto 40px;
}

.promo-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
    max-width: 560px;
    min-width: 420px;
    min-height: 230px;
    
    padding: 15px 20px 25px;
    border-radius: 15px;
}

.promo-item h2{
    margin: 0;
    font-size: 35px;
    line-height: 41px;
}

.promo-item p{
    font-size: 18px; 
}

.promo-item a{
    margin-top: auto;
    align-self: flex-end;
    
}
/*Спускаются при сужении экрана. пока не знаю что с эти сделать*/
.promo-item:nth-child(2n+1){
    margin-right: 20px;
}

.promo-raspberries{    
    background-image: url(../img/back-raspberries.jpg);
    background-repeat: no-repeat;
}

.promo-chocolate{
    background-image: url(../img/back-chocolate.jpg);
    background-repeat: no-repeat;
}

/*ТОВАРЫ*/
.hit-items{
    margin: 0 auto 35px;
}

.item-list{
    display: flex;
    justify-content: flex-start;    
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none; 
    
}
.item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 23.28%;
    max-width: 276px;
    min-width: 200px;
    margin-left: 2.3%;
    position: relative;
    z-index: 2;
}
.item::before{
    content: "";
  
    position: absolute;
    top: 0;
    left: 0;
    
    width: 61px;
    height: 61px;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
}
.item:nth-child(4n+1) {
    margin-left: 0;
}
.item:nth-child(2n) {
    margin-left: 2.25%;
}
.item img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.item-price{
    margin:-63px 0 0 0;
    font-size: 45px;
    line-height: 45px;
}

.item-price span{
    font-size: 33px;
}

.item-description{  
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
}
.item .button{
    display: none;
}
/*.item:hover{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-sizing: content-box;
    padding: 5px;
} 
.item:hover .button{
    display: block;
}надо вырвать из потока*/

/*SEO*/
.features{
    box-sizing: border-box;
    max-width: 1146px;
    min-width: 860px;
    margin: 0 auto 40px;
    padding: 4px 20px 20px; 
    
    color: #323232;
    border-radius: 15px;
    background-image: url(../img/back-wafer.jpg);
}

.features p{    
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 0;
}
.features-list{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 400;
}
.features-list li{
    max-width: 49%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    padding: 21px 0 0 55px;
}
.features-list li:nth-child(2n){
    margin-left: 1%;
}
.feature-img::before{    
    content: "";
    
    position: absolute;
    top: 3px;
    left: 0;
    
    width: 49px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-production::before{
    background-image: url("../img/seo-icecream.svg");
}
.feature-partnership::before{
    background-image: url("../img/seo-cow.svg");
}
.feature-product::before{
    background-image: url("../img/seo-eco.svg");
}
.feature-delivery::before{
    background-image: url("../img/seo-thermometer.svg");
}
/*BLOG*/
.blog-and-subscription{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 40px;
}
.blog-news{
    box-sizing: border-box;
    max-width: 560px;
    min-width: 420px;
    min-height: 220px;
    
    padding: 20px;
    margin-right: 20px;
    
    border-radius: 15px;
    background-image: url(../img/back-strawberries.jpg);
    background-repeat: no-repeat;
}
.blog-news p:first-of-type{
    font-weight: 500;
    color: #323232;
}
.blog-news p{
    margin: 0;
    padding:0;
}
.blog-news-transition{
    max-width: 64%;
}

.blog-news-transition a{
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    color: #323232;
}
/*SUBSCRIPTION*/

.subscription{
    max-width: 560px;
    min-width: 420px;
    min-height: 220px;
    
    border-radius: 15px;
    background: repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px, #92cdff 11px, #f8f7f4 11px, #f8f7f4 16px, #fe9e90 16px, #fe9e90 22px);
    
}
.subscription div{
    box-sizing: border-box;
    width: inherit;
    min-height: 206px;
    padding: 20px;
    margin: 7px;
    
    border-radius: 15px;
    background-color: #f8f7f4;
}
.subscription p{
    font-weight: 400;
    color: #5a5a5a;
}

/*MAP*/
.map {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto 10px;
    padding: 0;
    min-height: 430px;
    position: relative;
}

.map-information{
    width: 302px;
    min-height: 305px;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 15px;
    position: absolute;
    top: 63px;
    right: 2.3%;
    background-color: #fefefe;
    color: #323232;
}

.map-information p{
    margin: 0 0 20px;
    
    font-size: 14px;
    font-weight: 400;
}
.map-information span{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
/*FOOTER*/
.main-footer{
    max-width: 1146px;
    min-width: 860px;
    margin: 0 auto;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.main-footer ul{
    list-style: none;
    display: flex;
    
}
.footer-social li:not(:last-child){
    margin-right: 11px;
}
.social-button{
    display: block;
    width: 32px;
    height: 32px;
    margin: 3px;
    
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(255,255,255,.7);
    opacity: .8;
}
.social-button:hover,.social-button:focus{
    opacity: 1;
}

.social-button-tw{  
    background-image: url("../img/social-tw.svg");

}
.social-button-in{    
    background-image: url("../img/social-ins.svg");
}
.social-button-fb{    
    background-image: url("../img/social-fb.svg");
}
.social-button-vk{    
    background-image: url("../img/social-vk.svg");
}
.footer-menu{
    max-height: 60px;
    margin-left: -15%;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-menu li{
    font-size: 13px;
    line-height: 18px;
    margin: 5px 15px 0;
    position:relative; 
}
.white-link{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-menu li:not(:first-child){
    font-weight: 400;
}
.footer-menu li:first-child::before{
    content: "";
  
    position: absolute;
    top: 2px;
    left: -20px;
    
    width: 50%;
    height: 70%;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer-copyright{
    margin-top: 5px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}
.footer-copyright img{
    display: block;
    margin-bottom: 2px;
}
.white-link:hover, 
.white-link:active{
    color: #ffbc9e;
}

/*MODAL*/
.modal{
    box-sizing: border-box;
    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    
}
.text-input, .modal-connection textarea {
    box-sizing: border-box;
    height: 42px;
    padding: 5px 10px;
    font-weight: 40;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #d3d3d2;
}
.modal-search input, .modal-login input{
    width: 100%;
}

.modal-search{
    width: 341px;    
}
.modal-login{
    width: 277px;
    padding: 20px;
}

.modal-login-link{
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.modal-login-link:hover, 
.modal-login-link:active{
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}
.login-links{
    width:50%;
    display: inline-block;
    vertical-align: middle;
    
    margin-left: 15px;;
}
.modal-connection{
    width: 478px;
    position: relative;
}
.modal-connection input{
    width: 271px;
}
.modal-connection textarea{
    width: 432px;
    height: 153px;
    align-self: stretch;
}
.modal-connection h2{
    margin-top:0;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
    font-weight: 500;
}
.connection-form button{
    margin-left: 67%;
}
.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    height: 17px;
    background-color: transparent;
    background-image: url(../img/cross-big.svg);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
/* КАТАЛОГ!!!*/

.breadcrumbs{
    display:flex;
    justify-content: flex-start;
    
    margin-top: -25px;
    padding: 0;
    
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    font-weight: 400;
}

.breadcrumbs li:not(:last-child)::after{
    content: "»";
    margin: 0 6px;
}

/*FILTERS*/
.filter {
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: 500;
}
.filters label, 
.filters legend{
    font-size: 14px;
    line-height: 16px;  
}
.filters legend{
    margin-left: 16px;
}
.filters label{
    cursor: pointer;  
}

.filters input, 
.filter-button{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}
.fieldset-filter ul, 
.filter-button,
.filter-select,
.filter-input-range{
    height: 38px;
    padding: 0 16px;
    
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    
}
.filter-input-range{
    margin: 0;
    vertical-align: center;
}
.filters ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    margin: 0;
    list-style: none;
}
.filter-option{
    padding: 0 25px;
}
.filter-select{
    color: #ffffff;
    width: 193px;
}
.filter-select:hover{
    color: #323232;
}

.filter-button{
    align-self: center;
    margin-top:10px;
    
    border: 2px solid rgb(255, 255, 255);
}

.filter-button:hover{
    background-color: #ffffff;
    color: #323232;
}

.filter-button:active{
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}
.fieldset-filter{
    border: none;
}

/*pagination-list*/
.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pagination-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.pagination-list a{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 3px;
    
    padding: 1px 7px;
    border-radius: 50%;
    
    text-decoration: none;
     
}
.pagination-item a:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-link-current, 
.pagination-item a:active{
    background-color: #ffffff; 
    color: #323232;
}
.pagination-link-prev, .pagination-link-next{
    display: inline-block;
    width: 8px;
    height: 12px;
    margin: 6px 3px;

    background-image: url(../img/icon-left-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.pagination-link-prev{
    transform: scaleX(-1);
}
.pagination-link-next{/*нужно обелить*/
}
/*CART*/
.modal-cart{
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.products-in-cart{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.products-in-cart td{
    padding: 5px;
}
.products-in-cart span{
    color: #999999;
}

.delete-position{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 6px 3px;

    background-image: url(../img/cross-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.products-in-cart img{
    border-radius: 50%;
}
.modal-cart p{    
    color: #323232;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}
.button-cart{
    
}