html{
    min-width: 900px;
}

body{   
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.second-page h1{
    font-size: 35px;
    line-height: 41px;
}
.container{
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.main-header, .main-content, .main-footer{
    padding: 0 2.3%;
}
 /* СЛАЙДЕР */   
.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  /*transition: background-image 0.5s ease, background-color 0.5s ease;*/
}   
.second-page .site-wrapper{
    background-image: none;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/background-2.png");
}

.site-wrapper::after {
  background-image: url("../img/background-3.png");
}

.slider {
    position: relative;
  
    padding-top: 144px;
    margin: 0 auto;
  
    text-align: center;
    color: #ffffff;
}

.slider-list {
    margin: 0;
    padding: 0;
  
    list-style: none;
}
.slide {
  display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto 30px;
  
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper  {
  background-color: #849d8f;
  background-image: url("../img/background-1.png");
}

#product-2:checked ~ .site-wrapper  {
  background-color: #8996a6;
  background-image: url("../img/background-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/background-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.site-wrapper label:hover{
    background-color:rgba(255, 255, 255, .5)
    
}
/* HEADER */
.main-navigation{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    min-height: 200px;
    padding: 9px 0;
}

.site-navigation-left{    
    display: flex;
    justify-content: space-between;
}

.main-navigation > a, 
.main-navigation > p{
    font-size: 14px;
    line-height: 16px;
}

.main-navigation > a{
    font-weight: 500;
}

.main-navigation ul{
    list-style: none;
}

.site-navigation{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    padding-left: 7px;
    margin-top: 14px;
    line-height: 18px;
}
.site-navigation li{
    position: relative;
}
.site-navigation-item{
    position: relative;
    display: block;
    margin: 7px 15px;
    border-radius: 15px;
}

.site-navigation-item:hover,
.site-navigation-item:focus,
.site-navigation-item:active{
    margin: 0;
    padding: 7px 15px;
    color: #333333;
    background-color: #f7f6f3;
}

.site-navigation-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2)
}
/*.site-navigation-item:hover::after,
.site-navigation-item:focus::after,
.site-navigation-item:active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0;
    left: 0;
    background-color: #f7f6f3;
    z-index: 0;
}*/
.site-navigation-item:hover::before,
.site-navigation-item:focus::before,
.site-navigation-item:active::before{
    display: none;
}

.site-navigation .current-main-page{    
    margin: 0;
    padding: 7px 15px;
    
    color: #ffffff;
    border-radius: 15px; 
    background-color: #d07058;
}


.site-navigation .current-main-page:hover{
    background-color: #f7f6f3;
}
.current-main-page a{
    border-bottom: none;
}
.site-navigation-inner{
    display: block;
    visibility: hidden;
    min-width: 144px;
    
    position: absolute;
    
    padding: 0;
    top:34px;
    left:-5px;
    font-size: 14px;
    line-height: 16px;
    
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
    transition: visibility 1.5s linear;
    
}

.site-navigation-item:hover ~ .site-navigation-inner,
.site-navigation-item:focus ~ .site-navigation-inner{
    visibility: visible;
    transition: visibility 0s linear;
    
}

.site-navigation-inner a{ 
    display: block;
    padding: 10px 20px;
    color: #333333;
    background-color: #f8f7f4;
}

.inner-item:not(:first-of-type) a{
    font-weight: 400;
}

.site-navigation-inner li:first-child{
    position: relative;
}
.site-navigation-inner li:first-child::after{
    content: "";
    position: absolute;
    
    top: 36px;
    left: 5%;
    width: 90%;
    height: 1px;
    
    background: rgba(0, 0, 0, .1);
    background-repeat: no-repeat;
    z-index: 1;
    
}
.site-navigation-inner a:hover {
    background-color: #fbded7;
}

.site-navigation-inner a:active{
    background-color: #f6b5a5;
}

.site-navigation-inner a[class="current-inner-page"]{
    cursor: default;
    color: #ffffff;
    background-color: #d07058;
}

.site-navigation-right{
    margin-top: 14px;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.menu-button{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
    max-height: 32px;
    box-sizing: border-box;
    padding: 7px 17px;
    margin-left: 5px;

    position: relative;
    
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
.menu-button-search{
    display: inline-flex;
    justify-content: center;
    
    width: 32px;
    height: 32px;
    
    position: relative;
    
    padding:0;
    border-radius: 50%;
    border:0;
    background-color: rgba(255, 255, 255, 0.2);
}
.menu-button:hover, 
.menu-button-search:hover, 
.menu-button:focus, 
.menu-button-search:focus, 
.menu-button-full-cart{
    color: #333333;
    background-color: #f7f6f3;
}
.menu-button-search:hover path, 
.menu-button-login:hover path, 
.menu-button-cart:hover path, 
.menu-button-cart:hover circle,
.menu-button-search:focus path, 
.menu-button-login:focus path, 
.menu-button-cart:focus path, 
.menu-button-cart:focus circle{
    fill: #333333;
}
.login-form p{
    margin: 0;
}
.menu-button-login{
    min-width: 95px;
}

.menu-button-cart, 
.menu-button-full-cart{
    min-width: 115px;
}
.menu-button-cart{
    padding-right: 33px;
}

.site-navigation-right p{
    margin: 15px 0;
    text-align: right;
}

.site-navigation-right span{
    display: inline-block;
    padding-top: 5px;
    
    font-size: 22px;
    line-height: 24px;
}



/* КНОПКИ */
.button{
    display: flex;
    align-items: center;
    padding: 0 22px;
    min-height: 46px;
    
    font-size: 18px;
    line-height: 24px;

    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}   

.big-button{
    padding: 12px 40px;
    
    max-height: 63px;
    box-sizing: border-box;
    
    font-size: 32px;
    line-height: 44px;
    
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
}
.input-button{    
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    min-height: 46px;
    
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
}
.button:hover, 
.input-button:hover, 
.button:focus, 
.input-button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active, 
.input-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*ПРОМО*/
.promo-list{
    display: flex;
    justify-content: space-around;
    margin-top: 42px;
    margin-bottom: 15px;
}

.promo-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
    max-width: 560px;
    min-width: 420px;
    min-height: 230px;
    
    padding: 17px 20px 25px 18px;
    border-radius: 15px;
}

.promo-item h2{
    margin: 0;
    font-size: 35px;
    line-height: 41px;
}

.promo-item p{
    margin: 14px 2px;
    font-size: 18px;     
}

.promo-item a{
    margin-top: auto;
    align-self: flex-end;
    
}

.promo-item:nth-child(2n+1){
    margin-right: 2.2%;
}

.promo-raspberries{    
    background-image: url(../img/back-raspberries.jpg);
    background-repeat: no-repeat;
}

.promo-chocolate{
    background-image: url(../img/back-chocolate.jpg);
    background-repeat: no-repeat;
}

/*ТОВАРЫ*/
.hit-items{
    width: 100%;
    min-height: 350px;
}
.item-list{
    display: flex;
    justify-content: flex-start;    
    flex-wrap: wrap;
    margin-top: 35px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 0;
    list-style: none;   
}
.item{
    position: relative;
    width: 25%;
    flex-grow: 1;
}

.item-content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    padding: 2.2%;
    
}
.item-img{
    max-width: 276px;
    min-width: 200px;
    width: auto;
}
.item-img img{
    width: 100%;
    border-radius: 50%;
}
.item-button-container{
    display: none;
    margin-bottom: 5%;
}

.item-button-container .button{
    z-index: 3;
    padding: 0 22px;
}

.item:hover::before,
.item:focus::before{
    content: "";
    
    display: block;
    width: 24.4%;
    min-height: 300px;
} 
.hit-item::after{
    content: "";
  
    position: absolute;
    top: 2.2%;
    left: 2.2%;
    
    width: 61px;
    height: 61px;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;   
    z-index: 3;
}

.item-price{
    align-self: flex-start;
    margin: -65px 0 0 0;
    font-size: 45px;
    line-height: 45px;
}

.item-price span{
    font-size: 33px;
}

.item-description{ 
    text-align: center;
    text-decoration: underline;
    
    font-weight: 500;
}

.item:hover .item-content{
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 1.1%;
    background: rgba(255, 255, 255, 0.2);
    
    border-radius: 5px;
    z-index: 2;
}
.item:hover .item-button-container{
    display: block;
}
/*SEO*/
.features{
    box-sizing: border-box;
    max-width: 1146px;
    min-width: 860px;
    min-height: 305px;
    
    margin: 0 auto 40px;
    padding: 4px 20px 20px; 
    
    color: #323232;
    border-radius: 15px;
    background-image: url(../img/back-wafer.jpg);
}

.features p{   
    margin-top: 20px; 
    margin-bottom: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.features-list{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 400;
}
.features-list li{
    max-width: 49%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    padding: 21px 0 0 55px;
}
.features-list li:nth-child(2n){
    margin-left: 2%;
}
.feature-img::before{    
    content: "";
    
    position: absolute;
    top: 10px;
    left: 0;
    
    width: 49px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-production::before{
    background-image: url("../img/seo-icecream.svg");
}
.feature-partnership::before{
    background-image: url("../img/seo-cow.svg");
}
.feature-product::before{
    background-image: url("../img/seo-eco.svg");
}
.feature-delivery::before{
    background-image: url("../img/seo-thermometer.svg");
}
/*BLOG*/
.blog-and-subscription{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 40px;
}
.blog-news{
    box-sizing: border-box;
    max-width: 560px;
    min-width: 420px;
    min-height: 220px;
    
    padding: 25px 20px;
    margin-right: 2.2%;
    
    border-radius: 15px;
    background-image: url(../img/back-strawberries.jpg);
    background-repeat: no-repeat;
}
.blog-news p:first-of-type{
    font-weight: 500;
    color: #323232;
}
.blog-news p:first-of-type{
    margin: 0;
    padding:0;
}
.blog-news-transition{
    max-width: 64%;
    margin-top: 5px;
}

.blog-news-transition a{
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    color: #323232;
}
/*SUBSCRIPTION*/

.subscription{
    max-width: 560px;
    min-width: 420px;
    min-height: 220px;
    
    border-radius: 15px;
    background: repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px, #92cdff 11px, #f8f7f4 11px, #f8f7f4 16px, #fe9e90 16px, #fe9e90 22px);
    
}
.subscription div{
    box-sizing: border-box;
    width: inherit;
    min-height: 206px;
    padding: 20px;
    margin: 7px;
    
    border-radius: 15px;
    background-color: #f8f7f4;
}
.subscription p{
    margin: 7px 0 35px;
    
    font-weight: 400;
    color: #5a5a5a;
}
.subscription form{
    display: flex;
    justify-content: space-between;
}
.subscription input{
    flex-grow: 1;
    margin-right: 10px;
}
/*MAP*/
.map {
    width: 100%;
    margin: 0 auto 10px;
    padding: 0;
    min-height: 430px;
    position: relative;
}

.map-information{
    width: 302px;
    min-height: 305px;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 15px;
    position: absolute;
    bottom: 63px;
    right: 2.3%;
    background-color: #fefefe;
    color: #323232;
    z-index: 2;
}

.map-information p{
    margin: 0 0 20px;
    
    font-size: 14px;
    font-weight: 400;
}
.map-information span{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
/*FOOTER*/
.main-footer{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.main-footer ul{
    list-style: none;
    display: flex;
    
}
.footer-social li:not(:last-child){
    margin-right: 11px;
}
.footer-social{
    padding-left: 30px;
    padding-top: 10px;
}
.social-button{
    display: block;
    width: 32px;
    height: 32px;
    margin: 3px;
    
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(255,255,255,.7);
    opacity: .8;
}
.social-button:hover,
.social-button:focus{
    opacity: 1;
}

.social-button-tw{  
    background-image: url("../img/social-tw.svg");

}
.social-button-in{    
    background-image: url("../img/social-ins.svg");
}
.social-button-fb{    
    background-image: url("../img/social-fb.svg");
}
.social-button-vk{    
    background-image: url("../img/social-vk.svg");
}
.footer-menu{
    max-height: 60px;
    margin-left: -15%;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-menu li{
    font-size: 13px;
    line-height: 18px;
    margin: 5px 15px 0;
    position:relative; 
}
.white-link{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-menu li:not(:first-child){
    font-weight: 400;
}
.footer-menu li:first-child::before{
    content: "";
  
    position: absolute;
    top: 2px;
    left: -20px;
    
    width: 50%;
    height: 70%;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer-copyright{
    margin-top: 5px;
    margin-right: 9px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}
.footer-copyright img{
    display: block;
    margin-bottom: 2px;
}
.white-link:hover, 
.white-link:focus,
.white-link:active{
    color: #ffbc9e;
}
.second-page .main-footer{
    border-top: 1px solid rgba(255, 255, 255, .3)
}

/*MODAL*/
.modal{
    display: block;
    box-sizing: border-box;
    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    
    z-index: 4;
    visibility: hidden;
    transition: visibility 1.5s linear;
    
}
.text-input, .modal-connection textarea {
    box-sizing: border-box;
    height: 42px;
    padding: 5px 10px;
    font-weight: 40;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #d3d3d2;
}
.modal-search input, .modal-login input{
    width: 100%;
}

.modal-search{
    width: 341px;     
    
    position: absolute;
    
    top: 39px;
    right: 0;   
}

.modal-login{
    
    width: 277px;
    padding: 20px;
    
    position: absolute;
    
    top: 39px;
    right: 0;
    
}
.menu-login, .menu-cart{ 
    display: inline-block;
    position: relative;
}
.modal-login-link{
    position: relative;
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.modal-login-link:hover, 
.modal-login-link:active{
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}
.login-links{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    
    margin-left: 15px;;
}

.menu-button-search:hover .modal-search, 
.menu-button-login:hover ~ .modal-login, 
.menu-button-search:focus .modal-search, 
.menu-button-login:focus ~ .modal-login{
    visibility: visible;
    transition: visibility 0s linear;
}
/*    transition: visibility 1.5s linear;
    
}

.site-navigation-item:hover ~ .site-navigation-inner,
.site-navigation-item:focus ~ .site-navigation-inner{
    visibility: visible;
    transition: visibility 0s linear;
    
}*/
.modal-connection{
    display: none;
    width: 478px;
    
    position: absolute;
    top: 338px;
    left: 40%;
} /*добавить открытие по клику*/

.modal-connection input{
    width: 271px;
}
.modal-connection textarea{
    width: 432px;
    height: 155px;
    
}
.modal-connection h2{
    margin-top:0;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
    font-weight: 500;
}
.connection-form button{
    margin-left: 67%;
}


/*CART*/
.modal-cart{
    display: flex;
    
    width: 540px;
    padding: 20px;
    
    position: absolute;
    
    top: 39px;
    right: 0; 
    
    transition: visibility 1.5s linear;
}    
.menu-button-full-cart:hover .modal-cart,
.menu-button-full-cart:focus .modal-cart{ 
    visibility: visible;
    flex-direction: column;
    align-items: flex-end;
    transition: visibility 0s linear;
}

.products-in-cart{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.products-in-cart span{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #999999;
}
.products-in-cart td{
    padding: 5px;
}

.delete-position{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 6px 3px;

    background-image: url(../img/cross-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.products-in-cart img{
    border-radius: 50%;
}
.modal-cart p{    
    color: #323232;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    height: 17px;
    background-color: transparent;
    background-image: url(../img/cross-big.svg);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

/* КАТАЛОГ!!!*/

.breadcrumbs{
    display:flex;
    justify-content: flex-start;
    
    margin-top: -25px;
    padding: 0;
    
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    font-weight: 400;
}

.breadcrumbs li:not(:last-child)::after{
    content: "»";
    margin: 0 6px;
}

/*FILTERS*/
.filter {
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: 500;
}
.filters label, 
.filters legend{
    font-size: 14px;
    line-height: 16px;  
}
.filters legend{
    margin-left: 16px;
}
.filters label{
    position: relative;
    cursor: pointer;  
}
.filters label:hover{
    background: none;
    
}
.filter-fat-content-list label::before, 
.filter-additive-list label::before{
    content: "";
    position: absolute;
    
    width: 25px;
    height: 25px;
    left: -30px;
    
    box-sizing: border-box;
    opacity: .8;
}
.filter-fat-content-list label::before{
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    position: 0 0;
}
.filter-additive-list label::before{
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    position: 0 0;
}
.filter-fat-content-list label:hover::before, 
.filter-additive-list label:hover::before{
    opacity: 1;
}

.filter-input-radio:checked ~ label::before {
  background-image: url(../img/radio-on.svg);
}


.filter-input-checkbox:checked ~ label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-radio:focus + label::before, /*выбирает только  один инпут, а остальные пропускает*/
.filter-input-checkbox:focus + label::before{
    opacity: 1;
}

.filter-input-radio:disabled ~ label, 
.filter-input-checkbox:disabled ~ label {
    opacity: .4;
    cursor: default;
}


.filters input, 
.filter-button{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}
.fieldset-filter ul, 
.filter-button,
.filter-select,
.range-controls {
    height: 38px;
    padding: 0 16px;
    
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}
.filters ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    margin: 0;
    list-style: none;
}
.filter-option{
    padding: 0 25px;
}
.filter-select{
    color: #ffffff;
    width: 193px;
}
.filter-select:hover{
    color: #323232;
}

.filter-button{
    align-self: center;
    margin-top:10px;
    
    border: 2px solid rgb(255, 255, 255);
}

.filter-button:hover,
.filter-button:focus{
    background-color: #ffffff;
    color: #323232;
    outline: none;
}

.filter-button:active{
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}
/*Range*/
.fieldset-filter{
    border: none;
    padding: 0;
}
.filter-range-title{
    margin-left: 16px;
    font-size: 14px;
    line-height: 16px; 
    
}
.filter-range-title label{
    background-color: none;
}
.range-controls {
    position: relative;
    width: 200px;
    padding-top: 18px;
    box-sizing: border-box;
}

.range-controls .scale {

    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 60%;
    margin-left: 15%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: 9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 15%;
}

.range-toggle-max {
    left: 65%;
}
/*pagination-list*/
.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pagination-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.pagination-list a{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 3px;
    
    padding: 1px 7px;
    border-radius: 50%;
    
    text-decoration: none;
     
}
.pagination-item a:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-link-current, 
.pagination-item a:active{
    background-color: #ffffff; 
    color: #323232;
}

.pagination-link-prev, .pagination-link-next{
    margin: 6px 3px;

}
.pagination-link-prev{
    transform: scaleX(-1);
    opacity: .4;
}


